.cardWrapper {
  padding: 1em;
  min-width: 300px;
  min-height: 140px;
  max-height: 140px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: 2px solid lightgrey;
  background-color: white;
  border-radius: 5px;
}
.cardFocused {
  background-color: #dcd5ff;
  border-color: #9a86ff;
}
.tagContainer {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
