.scrollBoxContainer {
  border-radius: 0.25em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
  display: inline-flex;
  gap: 1em;
  max-height: 500px;
  max-width: 900px;
  overflow: auto;
}

@media screen and (max-width: 1000px) {
  .scrollBoxContainer {
    flex-direction: column;
  }
}
